{% extends 'main/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load base_tags %}



<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
          <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Sign up</h4></header>
                <form method="post" >
                {% csrf_token %}
                {{form.as_p}}
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block"> Register  </button>
                      </div> <!-- form-group// -->      
                          
                </form>
            </article>
        </div> 
        <p class="text-center mt-4">Have an account? <a href="">Log In</a></p>
        <br><br>
    
    
</section>



{% endblock content %}